.homeWrapper{
    width: 500px;
    height: 350px;
    background-image: url('https://img.freepik.com/free-vector/gorgeous-clouds-background-with-blue-sky-design_1017-25501.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 35px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 40px;
    .generalPageWrapper{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .infoWrapper{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        margin-bottom: 10px;
        .dataWrapper{
            .dayTitle{
                font-size: 40px;
                color: #fff;
                font-weight: 100;
                margin-bottom: 5px;
            }
            .cityName{
                font-size: 25px;
                color: #fff;
            }
        }
        .weatherIcon{
            .imgIconWraper{
                display: flex;
                align-items: center;
            }
            .temperatureTitle{
                font-size: 40px;
                color: #fff;
                font-weight: bold;
            }
            .feelsLikeTitle{
                font-size: 15px;
                color: #fff;
                font-weight: 100;
            }
        }
    }
    .nextWeatherDayWraper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        gap: 10px;
        .dateTitle{
            color: #fff;
            font-size: 14px;
            margin-bottom: 5px;
        }
        .temp{
            color: #fff;
            font-size: 15px;
        }
    }
}

@media (max-width: 600px){
    .homeWrapper{
        width: 300px;
        height: 400px;
        .generalPageWrapper{
            display: grid;
            grid-template-columns: 1fr;
        }
    }
}
